@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme Light */
:root{
  /* Fondos */
  --background: theme(color-slate-50);
  --surface: theme(color-gray-200);

  /* Textos */
  --foreground: theme(color-gray-950);
  --foreground-w: theme(color-slate-50);
  --foreground-g: theme(color-slate-600);
 
  /* Marca */
  --primary: theme(color-emerald-700);
  --second: theme(color-blue-700);
  --secondary: theme(color-gray-500);
  --warning: theme(color-amber-500);
  --danger: theme(color-red-500);
  --success: theme(color-green-500);

  /* Marca Hover */
  --primary-hover: theme(color-emerald-600);
  --second-hover: theme(color-blue-600);
  --secondary-hover: theme(color-gray-600);
  --warning-hover: theme(color-amber-600);
  --danger-hover: theme(color-red-600);
  --success-hover:theme(color-green-500);

  /* UI */
  /* tags*/
  --surface-primary: --alpha(var(--color-emerald-400) / 30%);
  --foreground-primary: theme(color-emerald-900);

  /* Border sections */
  --border-section: theme(color-gray-300);

}

/* Theme Dark */
.dark{

  /* Fondos */
  --background: theme(color-slate-950);
  --surface: theme(color-slate-900);

  /* Textos */
  --foreground: theme(color-slate-50);
  --foreground-w: theme(color-slate-950);
  --foreground-g: theme(color-slate-400);

  /* Marca */
  --primary: theme(color-emerald-500);
  --second: theme(color-blue-500);

  /* UI */
  /* tags*/
  --surface-primary: --alpha(var(--color-emerald-400) /10%);
  --foreground-primary: theme(color-emerald-500);

  /* Border sections */
  --border-section: theme(color-gray-800);
}

